
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AI Chatbot</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h2>AI Chatbot Assistant</h2>

<div id="chatbox"></div>

<div class="input-area">
<input id="userInput" placeholder="Ask something...">
<button onclick="sendMessage()">Send</button>
<button onclick="startVoice()">🎙</button>
</div>

<h3>Add New Question & Answer</h3>

<input id="newQ" placeholder="Question">
<input id="newA" placeholder="Answer">
<button onclick="addQA()">Save</button>

<script src="/static/script.js"></script>

</body>
</html>
